language: java

dist: trusty

jdk:
  - openjdk7
  - oraclejdk8

before_install:
  - chmod +x ./.travis/maven-build.sh
  - chmod +x ./.travis/call-creation.sh
  - mvn clean

install:
  - sudo apt-get update && sudo apt-get --assume-yes install zip unzip

script: "./.travis/maven-build.sh"

after_deploy: "./.travis/call-creation.sh"

notifications:
  email: false
  slack:
    secure: RLntqWb6Ude1cBZx3YUajM2e8keWr26By7H+k+r3PkeyrLWwlAPDClGoc7Z6MViwY4AVACdNq/q4+D2tZ672L/gjb/DJBUiIOKp0onsD0s8icmmkWaNKjxidKtcQ1pKO1JpMMfgh53nkqkXOlWI0rHd7WK3n/UzIkl9qIS1vYXXW6VCG+3Mowkwkv04HEAitUY0fvxUrhmyJjYakn5obRCERBd1k2I4zBshc4YRnaTc/eTt1R54WErNXMqkZhlhATNTLEmct4v1JZFWDKXtMv9mtv9bKiTKtFemyS7nGkdZG9lk3mYHeNg7bcZsdNn7iMtUeKsEPjJCuHzl63TzN6lmhPUDHr9Rhak4svKkFnk4nyrRDqw7HnmnEDKt2w3u+hx84mueJoMVaI8IjMTqALGmqAXlm5/NsXlNL1PXtzFVs0UV24IOvTLavGYasYMxBbk3PDC/8FSzS++uhw4DUJK0mdGE3mwtJsQdo5QNRVQKY8g4EXNdzsN4s4DMjI4iO5Zp/XaWOpe6+bGf630McbPsOAX5c0ISZViO2FVkfFOLIWNsXQy+sIQms3XgmQlRXljEpyHVsE13rhqdKNXaFbwXWYUX1+64Sg42ZmgbNBgKwX1p+hpe+u/asPhIGP3guFaLNCH2tlwb8ZxTzZXWnToZi6AUC0kYvVInH/9TEXMI=
  webhooks:
    on_success: always
    on_failure: always
    on_start: never

env:
  global:
    - PROVIDER_VERSION=2.0.9

cache:
  directories:
    - ".autoconf"
    - "$HOME/.m2"

deploy:
  - provider: s3
    access_key_id: AKIAJDZLZNH2PIKHUKOA
    secret_access_key:
      secure: aGFNOrQ/VZScEqGcRr7NOP1CP9etGbAUvesgpoTVDiT59PknJKdCo7TDDzAfKlBHcHxuiBNaHkkmuj6pRkWff3Ffsb00VP6k04LGu+strzWThk1woTYx+3I7bcEa1U45Gfo/Y6xtOI1gSE3IHLeOX80ebfioR7jrKBtmE5pgbOG0jySco7KIftmct72zsHG/Ema8rmQEVpPxKh0FLRcddQIJ3i6/1DdRYkCtjqL5m9B4igIeio9qw8GiiM1pG/RCn3VX/MOKGa675q/U9x0G8Oc36EaEKTW0Vws3yVxZiKSBBT5akmeUwzODRBGA5z/9s23XQJmjDOnTjX/M7v8AKwkVfsti98lxBmfHeGxVJSI2ofx25Re8yjkPX6u+tRrN8L4W5NVc5qYPJwldYzXuYGMfuPKpwD5EDloM+PkSAMA56YxA+0VOZRxyFA0wvc+CoacIKPHSVBXz8dU3WhtCfhBdDt+XXsq0U2rBa5jqqYGxNoN74EyU+C2mXpPP7nsVfbeOO1FohJgWeH3pa4K0xOjg4HY7rIcrwvPjCArDRh/AXIWQzXnhRRtcHdG37pTsfP0SGL8QX4SutFFpvfgqwbkEkKuIpkt1cLaD3tgLSfUp4xmSA2Jef0bP3OKEpK6+JUyniWxXuw23boAODKfy4WmhdUpfiIKJTu7VBq6lAMU=
    bucket: parabot
    skip_cleanup: true
    local-dir: "./target/final/"
    upload-dir: artifacts/dreamscape-provider
    region: us-west-1
    detect_encoding: true
    acl: public_read
    on:
      repo: Parabot/Parabot-317-API-Minified-Dreamscape
      branch:
        - master
        - development
      jdk: 'openjdk7'
